<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>orgName</key>
		<string>深圳XXX技术有限公司</string>
		<key>pid</key>
		<string></string>
		<key>orgType</key>
		<string></string>
		<key>orgSort</key>
		<integer>1</integer>
		<key>orgLevel</key>
		<string></string>
		<key>orgCode</key>
		<integer>1</integer>
		<key>areaId</key>
		<string></string>
		<key>state</key>
		<string></string>
		<key>staffs</key>
		<string></string>
		<key>errorCount</key>
		<integer>0</integer>
		<key>cDtoList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>6</integer>
				<key>orgName</key>
				<string>江苏苏州（分公司）</string>
				<key>pid</key>
				<integer>1</integer>
				<key>orgType</key>
				<string></string>
				<key>orgSort</key>
				<integer>1</integer>
				<key>orgLevel</key>
				<string></string>
				<key>orgCode</key>
				<integer>104</integer>
				<key>areaId</key>
				<string></string>
				<key>state</key>
				<string></string>
				<key>staffs</key>
				<string></string>
				<key>errorCount</key>
				<integer>0</integer>
				<key>cDtoList</key>
				<array>
					<dict>
						<key>id</key>
						<integer>7</integer>
						<key>orgName</key>
						<string>苏州分公司演示模板</string>
						<key>pid</key>
						<integer>6</integer>
						<key>orgType</key>
						<string></string>
						<key>orgSort</key>
						<integer>1</integer>
						<key>orgLevel</key>
						<string></string>
						<key>orgCode</key>
						<integer>10401</integer>
						<key>areaId</key>
						<string></string>
						<key>state</key>
						<string></string>
						<key>staffs</key>
						<string></string>
						<key>errorCount</key>
						<integer>0</integer>
						<key>cDtoList</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<integer>8</integer>
				<key>orgName</key>
				<string>广东省深圳市</string>
				<key>pid</key>
				<integer>1</integer>
				<key>orgType</key>
				<string></string>
				<key>orgSort</key>
				<integer>2</integer>
				<key>orgLevel</key>
				<string></string>
				<key>orgCode</key>
				<integer>105</integer>
				<key>areaId</key>
				<string></string>
				<key>state</key>
				<string></string>
				<key>staffs</key>
				<string></string>
				<key>errorCount</key>
				<integer>0</integer>
				<key>cDtoList</key>
				<array>
					<dict>
						<key>id</key>
						<integer>9</integer>
						<key>orgName</key>
						<string>深圳市宝安区</string>
						<key>pid</key>
						<integer>8</integer>
						<key>orgType</key>
						<string></string>
						<key>orgSort</key>
						<integer>1</integer>
						<key>orgLevel</key>
						<string></string>
						<key>orgCode</key>
						<integer>10501</integer>
						<key>areaId</key>
						<string></string>
						<key>state</key>
						<string></string>
						<key>staffs</key>
						<string></string>
						<key>errorCount</key>
						<integer>0</integer>
						<key>cDtoList</key>
						<array>
							<dict>
								<key>id</key>
								<integer>10</integer>
								<key>orgName</key>
								<string>宝安体育馆</string>
								<key>pid</key>
								<integer>9</integer>
								<key>orgType</key>
								<string></string>
								<key>orgSort</key>
								<integer>1</integer>
								<key>orgLevel</key>
								<string></string>
								<key>orgCode</key>
								<integer>1050101</integer>
								<key>areaId</key>
								<string></string>
								<key>state</key>
								<string></string>
								<key>staffs</key>
								<string></string>
								<key>errorCount</key>
								<integer>0</integer>
								<key>cDtoList</key>
								<array/>
							</dict>
							<dict>
								<key>id</key>
								<integer>11</integer>
								<key>orgName</key>
								<string>福永街道</string>
								<key>pid</key>
								<integer>9</integer>
								<key>orgType</key>
								<string></string>
								<key>orgSort</key>
								<integer>2</integer>
								<key>orgLevel</key>
								<string></string>
								<key>orgCode</key>
								<integer>1050102</integer>
								<key>areaId</key>
								<string></string>
								<key>state</key>
								<string></string>
								<key>staffs</key>
								<string></string>
								<key>errorCount</key>
								<integer>0</integer>
								<key>cDtoList</key>
								<array/>
							</dict>
							<dict>
								<key>id</key>
								<integer>12</integer>
								<key>orgName</key>
								<string>新安街道</string>
								<key>pid</key>
								<integer>9</integer>
								<key>orgType</key>
								<string></string>
								<key>orgSort</key>
								<integer>3</integer>
								<key>orgLevel</key>
								<string></string>
								<key>orgCode</key>
								<integer>1050103</integer>
								<key>areaId</key>
								<string></string>
								<key>state</key>
								<string></string>
								<key>staffs</key>
								<string></string>
								<key>errorCount</key>
								<integer>0</integer>
								<key>cDtoList</key>
								<array>
									<dict>
										<key>id</key>
										<integer>13</integer>
										<key>orgName</key>
										<string>风采轩</string>
										<key>pid</key>
										<integer>12</integer>
										<key>orgType</key>
										<string></string>
										<key>orgSort</key>
										<integer>1</integer>
										<key>orgLevel</key>
										<string></string>
										<key>orgCode</key>
										<integer>105010301</integer>
										<key>areaId</key>
										<string></string>
										<key>state</key>
										<string></string>
										<key>staffs</key>
										<string></string>
										<key>errorCount</key>
										<integer>0</integer>
										<key>cDtoList</key>
										<array/>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>id</key>
						<integer>14</integer>
						<key>orgName</key>
						<string>深圳市赛飞奇光子技术有限公司</string>
						<key>pid</key>
						<integer>8</integer>
						<key>orgType</key>
						<string></string>
						<key>orgSort</key>
						<integer>2</integer>
						<key>orgLevel</key>
						<string></string>
						<key>orgCode</key>
						<integer>10502</integer>
						<key>areaId</key>
						<string></string>
						<key>state</key>
						<string></string>
						<key>staffs</key>
						<string></string>
						<key>errorCount</key>
						<integer>0</integer>
						<key>cDtoList</key>
						<array>
							<dict>
								<key>id</key>
								<integer>4</integer>
								<key>orgName</key>
								<string>赛飞奇光子技术有限公司移动测试</string>
								<key>pid</key>
								<integer>14</integer>
								<key>orgType</key>
								<string></string>
								<key>orgSort</key>
								<integer>2</integer>
								<key>orgLevel</key>
								<string></string>
								<key>orgCode</key>
								<integer>1050202</integer>
								<key>areaId</key>
								<string></string>
								<key>state</key>
								<string></string>
								<key>staffs</key>
								<string></string>
								<key>errorCount</key>
								<integer>1</integer>
								<key>cDtoList</key>
								<array/>
							</dict>
							<dict>
								<key>id</key>
								<integer>23</integer>
								<key>orgName</key>
								<string>赛飞奇调试专用</string>
								<key>pid</key>
								<integer>14</integer>
								<key>orgType</key>
								<string></string>
								<key>orgSort</key>
								<integer>2</integer>
								<key>orgLevel</key>
								<string></string>
								<key>orgCode</key>
								<integer>1050203</integer>
								<key>areaId</key>
								<string></string>
								<key>state</key>
								<string></string>
								<key>staffs</key>
								<string></string>
								<key>errorCount</key>
								<integer>1</integer>
								<key>cDtoList</key>
								<array/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>id</key>
						<integer>16</integer>
						<key>orgName</key>
						<string>深圳市南山区</string>
						<key>pid</key>
						<integer>8</integer>
						<key>orgType</key>
						<string></string>
						<key>orgSort</key>
						<integer>3</integer>
						<key>orgLevel</key>
						<string></string>
						<key>orgCode</key>
						<integer>10503</integer>
						<key>areaId</key>
						<string></string>
						<key>state</key>
						<string></string>
						<key>staffs</key>
						<string></string>
						<key>errorCount</key>
						<integer>0</integer>
						<key>cDtoList</key>
						<array>
							<dict>
								<key>id</key>
								<integer>17</integer>
								<key>orgName</key>
								<string>蛇口</string>
								<key>pid</key>
								<integer>16</integer>
								<key>orgType</key>
								<string></string>
								<key>orgSort</key>
								<integer>1</integer>
								<key>orgLevel</key>
								<string></string>
								<key>orgCode</key>
								<integer>1050301</integer>
								<key>areaId</key>
								<string></string>
								<key>state</key>
								<string></string>
								<key>staffs</key>
								<string></string>
								<key>errorCount</key>
								<integer>0</integer>
								<key>cDtoList</key>
								<array/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>id</key>
						<integer>18</integer>
						<key>orgName</key>
						<string>深圳市福田区</string>
						<key>pid</key>
						<integer>8</integer>
						<key>orgType</key>
						<string></string>
						<key>orgSort</key>
						<integer>4</integer>
						<key>orgLevel</key>
						<string></string>
						<key>orgCode</key>
						<integer>10504</integer>
						<key>areaId</key>
						<string></string>
						<key>state</key>
						<string></string>
						<key>staffs</key>
						<string></string>
						<key>errorCount</key>
						<integer>0</integer>
						<key>cDtoList</key>
						<array>
							<dict>
								<key>id</key>
								<integer>21</integer>
								<key>orgName</key>
								<string>新华社深圳商品交易中心</string>
								<key>pid</key>
								<integer>18</integer>
								<key>orgType</key>
								<string></string>
								<key>orgSort</key>
								<integer>1</integer>
								<key>orgLevel</key>
								<string></string>
								<key>orgCode</key>
								<integer>1050401</integer>
								<key>areaId</key>
								<string></string>
								<key>state</key>
								<string></string>
								<key>staffs</key>
								<string></string>
								<key>errorCount</key>
								<integer>0</integer>
								<key>cDtoList</key>
								<array/>
							</dict>
							<dict>
								<key>id</key>
								<integer>22</integer>
								<key>orgName</key>
								<string>深圳高级技工学校</string>
								<key>pid</key>
								<integer>18</integer>
								<key>orgType</key>
								<string></string>
								<key>orgSort</key>
								<integer>2</integer>
								<key>orgLevel</key>
								<string></string>
								<key>orgCode</key>
								<integer>1050402</integer>
								<key>areaId</key>
								<string></string>
								<key>state</key>
								<string></string>
								<key>staffs</key>
								<string></string>
								<key>errorCount</key>
								<integer>0</integer>
								<key>cDtoList</key>
								<array/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<integer>19</integer>
				<key>orgName</key>
				<string>广东省佛山市</string>
				<key>pid</key>
				<integer>1</integer>
				<key>orgType</key>
				<string></string>
				<key>orgSort</key>
				<integer>3</integer>
				<key>orgLevel</key>
				<string></string>
				<key>orgCode</key>
				<integer>106</integer>
				<key>areaId</key>
				<string></string>
				<key>state</key>
				<string></string>
				<key>staffs</key>
				<string></string>
				<key>errorCount</key>
				<integer>0</integer>
				<key>cDtoList</key>
				<array>
					<dict>
						<key>id</key>
						<integer>20</integer>
						<key>orgName</key>
						<string>广东省佛山市高明监狱</string>
						<key>pid</key>
						<integer>19</integer>
						<key>orgType</key>
						<string></string>
						<key>orgSort</key>
						<integer>1</integer>
						<key>orgLevel</key>
						<string></string>
						<key>orgCode</key>
						<integer>10601</integer>
						<key>areaId</key>
						<string></string>
						<key>state</key>
						<string></string>
						<key>staffs</key>
						<string></string>
						<key>errorCount</key>
						<integer>0</integer>
						<key>cDtoList</key>
						<array/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
